* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
    background: linear-gradient(
            90deg,
            rgba(48, 16, 255, 1) 0%,
            rgba(100, 115, 255, 1) 100%
    );
}

h1 {
    margin: 32px 0;
    color: #fff;
    font-size: 24px;
}

h2 {
    margin: 32px 0;
    color: #fff;
    font-size: 24px;
}

/**
Login Css
 */

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-wrapper form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form {
    color: #fff;
    margin-bottom: 32px;
}

.login-form-label {
    padding: 10px;
}
.login-form-input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #5d0cff;
    outline: none;
    width: 320px;
    background: linear-gradient(
            90deg,
            rgba(93, 12, 255, 1) 0%,
            rgba(155, 0, 250, 1) 100%
    );
    color: #fff;
}
.login-form-input::placeholder {
    color: #e2e2e2;
}

.login-button {
    padding: 16px;
    margin: 20px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
            90deg,
            rgba(93, 12, 255, 1) 0%,
            rgba(155, 0, 250, 1) 100%
    );
    color: #fff;
    text-transform: capitalize;
}
